.row
  .large-6.large-centered.columns
    %h3 Message from #{@inquiry.name}

.row
  .large-6.large-centered.columns
    %section

      %dl
        .row
          .large-2.columns
            %dt Name
          .large-10.columns
            %dd= @inquiry.name
        .row
          .large-2.columns
            %dt Email
          .large-10.columns
            %dd= link_to @inquiry.email, "mailto:#{@inquiry.email}"
        .row
          .large-2.columns
            %dt Subject
          .large-10.columns
            %dd= @inquiry.subject

      %hr.full-bleed

      %p= markdown(@inquiry.body)

      %footer
        .row
          .large-12.columns
            .text-right
              = link_to 'Delete', admin_inquiry_path(@inquiry), method: :delete, class: 'action-button gray square', confirm: 'Are you sure?'
              = link_to 'Respond', "mailto:#{@inquiry.email}", class: 'action-button square'
