- home_class = @active_navigation == 'home' ? 'active' : ''
- shop_class = @active_navigation == 'shop' ? 'active' : ''
- about_class = @active_navigation == 'about' ? 'active' : ''
- contact_class = @active_navigation == 'contact' ? 'active' : ''
- blog_class = @active_navigation == 'blog' ? 'active' : ''

.row
  .large-12.large-centered.column
    %ul.text-center#global-nav
      %li= link_to 'Home', root_path, class: home_class
      %li= link_to 'Shop', products_path, class: shop_class
      %li= link_to 'About', about_path, class: about_class
      %li.contact= link_to 'Contact', '#', class: contact_class
      %li.blog= link_to 'Blog', '#', class: blog_class
