.focal-point
  .curved-border
    .border.top
    .content
      .text
        .hide-for-small
          %h1.color-white.littledays.margin-bottom-0 A Children's Boutique
          = link_to 'Shop Boys Bedding', category_products_path('boys'), class: 'hollow-button margin-right-15'
          = link_to 'Shop Girls Bedding', category_products_path('girls'), class: 'hollow-button'
        .show-for-small.hide-for-medium-up
          = link_to 'Shop Our Products', products_path, class: 'hollow-button'
      .background.full= image_tag 'focal-image.jpg'
    .border.bottom

- if @products.any?
  %section#products.margin-bottom-25
    %header.with-arrow.row
      .large-2.columns.text
        %h3 Products
      .large-10.columns.arrow
        %div.hide-for-medium-down

    - @products.in_groups_of(4) do |products|
      %ul.large-block-grid-4
        - products.each do |product|
          %li= render 'products/widget', product: product unless product.nil?

%section#about
  %header.with-arrow.row
    .large-2.columns.text
      %h3 About Us
    .large-10.columns.arrow
      %div.hide-for-medium-down

  .row
    .large-4.columns
      .picture-box.margin-bottom-20
        = image_tag 'family-photo.jpg'
    .large-8.columns
      %p
        I have always loved to create &mdash; whether it be sewing, drawing,
        cooking, or decorating.  However I found myself teaching for many years,
        and, while it did use some creative energy, it wasn't enough to satisfy
        my thirst.

      %p
        After seven years of teaching and feeling unfulfilled, my husband and I
        reached a place where we were able to take some risks.  I resigned my
        teaching position and through what I now understand was God's leading, I
        opened my first Etsy shop.  I started with some hair bows for little
        girls and a few little girl dresses.  I quickly realized that, while I
        loved seeing little cuties in my handmade goods, I wanted to see my work
        in peoples homes.  I was at the age where everyone around me was having
        babies and really struggling to find pretty nursery items.  So I sewed
        my first set-a crib skirt, sheet, and bumpers that
        <strong>never</strong> sold!  It took some time and a lot of market
        analysis, but very shortly, what started as a small venture soon became
        a very successful business.

      %p
        We are so thankful for how far we've come and look forward to continued
        growth and success.
