.row.padded-row
  .large-6.columns.margin-bottom-20
    %h3 A children's boutique!
    %p
      Some other text will go here describing what you offer, what makes you
      different, etc. If you know what to write, we will put it here. If not,
      we will write it together. This is not where you put pricing.
    %p
      The images to the right and below this text will swap in and out, every
      5-10 seconds, so your home page looks snazzy.
  .large-6.columns.margin-bottom-20= image_tag 'welcome/horizontal_2.png'

.row.padded-row
  .large-3.columns.margin-bottom-20= image_tag 'welcome/vertical_1.png'
  .large-3.columns.margin-bottom-20= image_tag 'welcome/vertical_2.png'
  .large-3.columns.margin-bottom-20= image_tag 'welcome/vertical_3.png'
  .large-3.columns.margin-bottom-20= image_tag 'welcome/vertical_4.png'

.row.padded-row
  .large-12.columns
    %p.content-box.margin-bottom-0
      If we need to add more text to the page, it will go down here. This space
      will be reserved for longform text, and is completely optional. As you can
      see, the space is pretty long. Perhaps a &quot;letter&quot; of sorts from
      you, so it feels personal? I don't know.
