.row
  .large-6.columns.large-centered
    %h3.margin-left-30 Sign in

.row
  .large-6.columns.large-centered
    %section
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'margin-bottom-0 custom' }) do |f|

        .row
          .large-12.columns
            = f.label :email
            = f.email_field :email, autofocus: true

        .row
          .large-12.columns
            = f.label :password
            = f.password_field :password

        .row
          .large-6.columns
            = f.label :remember_me, class: 'margin-top-5' do
              #{f.check_box :remember_me} Remember Me

          .large-6.columns
            = f.submit 'Sign In', class: 'right block button buy-button small margin-bottom-0'

