%section
  = form_for [:admin, product], html: { class: 'custom margin-bottom-0 product-form' } do |f|
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name

    .row
      .large-12.columns
        = f.label :price
        = f.text_field :price

    .row
      .large-12.columns
        = f.label :shipping
        = f.text_field :shipping

    .row
      .large-12.columns
        = f.label :description
        = f.text_area :description

    .row
      .large-12.columns
        = f.label :tag_list
        = f.text_field :tag_list

    .row
      .large-12.columns
        = f.fields_for :images do |image_fields|
          = image_fields.label :file, 'Image'
          = image_fields.file_field :file

    %footer
      .row
        .large-6.columns
          = link_to 'Cancel', admin_products_path, class: 'action-button gray margin-bottom-0'
        .large-6.columns.text-right
          = f.submit "Save", class: 'action-button button margin-bottom-0'
