%section
  = nested_form_for [:admin, product], html: { class: 'custom margin-bottom-0 product-form' } do |f|
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name

    .row
      .large-4.columns
        = f.label :price
        = f.text_field :price
      .large-4.columns
        = f.label :shipping
        = f.text_field :shipping
      .large-4.columns
        = f.label :tag_list do
          Categories
          %span.has-tip.tip-top{data: { tooltip: true }, title: 'Categories are what shows up in the shop: boys, girls, ready-ship, etc.'} ?
        = f.text_field :tag_list

    .row
      .large-12.columns
        = f.label :description
        = f.text_area :description

    .row
      .large-12.columns
        .image-fields
          .image-field-wrapper
            = f.fields_for :images
          .row
            .large-2.columns
              %p.has-tip.tip-top{data: { tooltip: true }, title: 'Atleast one image is required. You can set the primary image by toggling the checkbox on the left.'} Help?
            .large-10.columns
              = f.link_to_add 'Add Image', :images, class: 'add-button right', data: { target: '.image-field-wrapper' }

    %footer
      .row
        .large-6.columns
          = link_to 'Cancel', admin_products_path, class: 'action-button gray margin-bottom-0'
        .large-6.columns.text-right
          = f.submit "Save", class: 'action-button button margin-bottom-0'

:coffeescript
  new ProductFormView
