.row
  .large-9.columns
    .left.primary
      = f.check_box :primary, class: 'primary-check'
    .left.thumb
      = image_tag f.object.file.thumb unless f.object.file.blank?
    .left
      = f.label :file, 'Image'
      = f.file_field :file
  .large-3.columns.text-right
    = f.link_to_remove 'X', class: 'remove-button'
