- if @products.none?
  = render 'shared/no_results', resources: 'Products', new_link_path: new_admin_product_path

- else
  .row
    .large-6.columns.large-centered
      %h3
        All Products
        = link_to 'New', new_admin_product_path, class: 'action-button green small'

  .row
    .large-6.columns.large-centered
      %section
        %ul#products.admin-list
          - @products.each do |product|
            %li.row
              .large-2.columns
                = image_tag product.primary_image.file
              .large-5.columns.padding-top-5
                %p= link_to product.name, product
                %p.mute= number_to_currency(product.price)
              .large-5.columns.padding-top-5
                %ul.actions
                  %li= link_to 'Edit', edit_admin_product_path(product), class: 'icon-edit'
                  %li= link_to 'Delete', admin_product_path(product), method: :delete, class: 'icon-delete', confirm: 'Are you sure?'

        - unless @products.total_pages == 1
          %hr
          .text-right
            = paginate @products
