.row
  .large-6.columns.large-centered
    %h3
      All Products
      = link_to 'New', new_admin_product_path, class: 'action-button green x-small text-center'

.row
  .large-6.columns.large-centered
    %section
      %ul#products.admin-list
        - @products.each do |product|
          %li.row
            .large-2.columns
              = image_tag product.image
            .large-7.columns.padding-top-5
              %p= link_to product.name, product
              %p.mute= number_to_currency(product.price)
            .large-3.columns.padding-top-5
              = link_to 'Actions', '#', class: 'button dropdown small right secondary', data: { dropdown: 'actions' }
              %ul#actions.f-dropdown
                %li= link_to 'Edit', edit_admin_product_path(product)
                %li= link_to 'Delete', admin_product_path(product), method: :delete, confirm: 'Are you sure?'

      - unless @products.total_pages == 1
        %hr
        .text-right
          = paginate @products
