.row
  .large-6.columns.large-centered
    %h3.margin-left-30
      All Products
      %span.strong= link_to '(New)', new_admin_product_path

.row
  .large-6.columns.large-centered
    %section
      %ul.margin-bottom-0
        - @products.each do |product|
          %li.row.border-bottom.margin-bottom-10.padding-bottom-10
            .large-2.columns
              = image_tag product.image
            .large-7.columns.padding-top-5
              %p.margin-bottom-0= link_to product.name, product
              %p.margin-bottom-0.mute= number_to_currency(product.price)
            .large-3.columns.text-right.padding-top-5
              %p
                = link_to 'Edit', edit_admin_product_path(product)
                &mdash;
                = link_to 'Delete', admin_product_path(product), method: :delete, confirm: 'Are you sure?'
