.row
  .large-12.columns
    %h3= post.title

.row
  .large-12.columns
    = markdown(post.body)

%footer
  .row
    .large-6.columns
      = render 'shared/share_buttons', links_class: 'text-left'
    .large-6.columns
      %p.text-right.italic.mute= "Posted #{post.created_at.localtime.to_s(:mdy)}"
