#contact.reveal-modal

  %p.flash.hide

  .row
    .small-12.columns

    = form_for Inquiry.new, remote: true do |f|

      .row.collapse
        .small-3.columns
          %span.prefix Name
        .small-9.columns
          = f.text_field :name

      .row.collapse
        .small-3.columns
          %span.prefix Email
        .small-9.columns
          = f.text_field :email

      .row.collapse
        .small-3.columns
          %span.prefix Subject
        .small-9.columns
          = f.text_field :subject

      .row
        .small-12.columns
          = f.text_area :body, placeholder: 'Type your message here...'

      = f.submit 'Send', class: 'button margin-bottom-0 right'

  %a.close-reveal-modal &#215;
