.product-widget

  .image
    = image_tag product.image.widget

  .content
    %h5.name= product.name
    %p.small.description= truncate(product.description, length: 60)
    .price.big= number_to_currency(product.price)

  .overlay.hide
    = link_to 'View Product', product


