.row.padded-row
  .large-4.columns.margin-bottom-15
    = image_tag @product.image
  .large-8.columns
    .row
      .large-12.columns
        %h3= @product.name
        %p= number_to_currency(@product.price)
        %p= @product.description

    .row
      .large-12.columns
        .button-group
          = link_to 'Edit', edit_product_path(@product), class: 'small button'
          = link_to 'Delete', product_path(@product), method: :delete, class: 'small button', confirm: 'Are you sure?'
