#masthead.margin-top-25.margin-bottom-25
  .curved-border
    .border.top
    .content
      .text.right
        = link_to 'View Products', :back, class: 'back-button margin-bottom-25'
        %h3.name= @product.name
        %p.price= number_to_currency(@product.price)
        %ul
          %li.strong Overview
          %li.dotted Handmade Item
          %li.dotted Made to Order
        = link_to 'Buy Now', '#', class: 'buy-button'
      .background= image_tag @product.image
      .blur= image_tag @product.image
    .border.bottom

.row
  .small-8.columns
    %h3 Product Description
    %p= raw(@product.description)
  .small-4.columns
    %h3 Shipping Information
    %ul.dotted
      %li Only ships to USA from Nashville, TN.
      %li Shipping cost is $50
    .gray-box.margin-top-25
      %header
        %h1 Share this Product

