.focal-point
  .curved-border
    .border.top
    .content.hide-for-small
      .text.right
        = render 'products/info', product: @product

      .background
        = image_tag @product.primary_image.file, class: 'product-image'
        = image_toolbar(@product)

      .blur= image_tag @product.primary_image.file
    .content.show-for-small.hide-for-medium-up

      .text.white-background
        = render 'products/info', product: @product

      .background.full= image_tag @product.primary_image.file
    .border.bottom

.row
  .large-8.columns
    %h3 Product Description
    .description
      = markdown(@product.description)
  .large-4.columns
    %h3 Shipping Information
    %ul.dotted
      %li Only ships to USA from Nashville, TN.
      %li Shipping cost is #{number_to_currency(@product.shipping)}
    .gray-box.margin-top-25
      %header
        %h1 Share this Product
        = render 'shared/share_buttons'

:coffeescript
  $ ->
    new ProductsImagesView
