%section
  = form_for charge, html: { id: 'payment-form', class: 'custom' } do |f|
    = f.hidden_field :product_id

    -# Global Flashes
    .row.margin-bottom-0
      .large-12.columns
        - flash.each do |key, value|
          %p.flash{class: key}= value

    -# Stripe Errors
    .row.margin-bottom-0
      .large-12.columns
        %p.payment-errors.flash.error.hide

    %p.strong.negative-margin-bottom-18 Personal

    .row
      .large-6.columns
        = f.label :name
        = f.text_field :name
      .large-6.columns
        = f.label :email
        = f.text_field :email

    %hr

    %p.strong.negative-margin-bottom-18 Billing

    .row
      .large-12.columns
        = label_tag 'name', 'Name on card'
        = text_field_tag 'name', '', data: { stripe: 'name' }
    .row
      .large-9.columns
        = label_tag 'card-number', 'Card number'
        = text_field_tag 'card-number', '', data: { stripe: 'number' }
      .large-3.columns
        = label_tag 'cvc', 'CVC'
        = text_field_tag 'cvc', '', data: { stripe: 'cvc' }
    .row
      .large-4.columns
        = label_tag 'expiration_month', 'Expiration month'
        = select_month 1, { use_month_numbers: true }, data: { stripe: 'exp_month' }
      .large-4.columns
        = label_tag 'expiration_year', 'Expiration year'
        = select_year Date.today, { use_year_numbers: true, start_year: Date.today.year, end_year: 2030 }, data: { stripe: 'exp_year' }
      .large-4.columns
        = label_tag 'zip', 'Billing zip'
        = text_field_tag 'zip', '', data: { stripe: 'address_zip' }

    %hr

    %p.strong.negative-margin-bottom-18 Shipping

    .row
      .large-12.columns
        = f.label :address_line_1
        = f.text_field :address_line_1
    .row
      .large-12.columns
        = f.label :address_line_2
        = f.text_field :address_line_2
    .row
      .large-4.columns
        = f.label :city
        = f.text_field :city
      .large-5.columns
        = f.label :state
        = f.subregion_select :state, 'US'
      .large-3.columns
        = f.label :zip
        = f.text_field :zip

    %hr

    .row
      .large-12.columns
        = button_tag 'Complete Purchase', class: 'buy-button centered block'
