#charges-content
  #product.row
    .large-6.large-centered.columns
      .row
        .large-centered.large-4.columns
          = link_to image_tag(@product.image), @product
      .row
        .large-12.columns
          %header.popup-header
            %h3.text-center.name= @product.name
            %p.text-center.price= number_to_currency(@product.price)

  .row
    .large-3.push-9.columns
      = render 'ticket', charge: @charge, product: @product

    .large-6.columns.large-offset-2.pull-3
      = render 'form', charge: @charge

= link_to '', 'http://stripe.com', target: '_blank', class: 'stripe-image'

:coffeescript
  $ ->
    new ChargesView
    $(document).foundation()
