!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %title= content_for?(:title) ? "Tushies And Tantrums – #{yield(:title)}" : "Tushies And Tantrums"

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body

  .row#global-container
    .large-12.columns
      .row.padded-row#global-header
        .large-5.large-centered.columns
          .row.margin-bottom-15
            .large-12.columns
              #logo
                = link_to image_tag('logo-horizontal.png'), root_path
          .row.margin-bottom-15
            .large-12.columns
              %ul.button-group.text-center#global-nav
                %li= link_to 'Home', root_path, class: 'small button success'
                %li= link_to 'Shop', '#', class: 'small button success'
                %li= link_to 'About', about_path, class: 'small button success'
                %li= link_to 'Contact', '#', class: 'small button success'
                %li= link_to 'Blog', '#', class: 'small button success'
      .row.margin-bottom-15
        .large-12.large-centered.columns
          = image_tag 'divider.png'
      .row#global-content
        .large-12.columns
          = yield
      .row.margin-bottom-15.margin-top-15
        .large-12.large-centered.columns
          = image_tag 'divider.png'
      .row#global-footer
        .large-12.columns
          %p.small.text-center Copyright &copy; 2013 Tushies &amp; Tantrums, Inc.

  = javascript_include_tag "application"

:plain
  </html>
